.pop-up__input {
    border: 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: 358px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin: 0px auto;
}

.pop-up__input:first-of-type {
    padding-top: 0px;
}

.pop-up__input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 13px;
}

@media screen and (max-width: 1100px) {
    .pop-up__input {
        width: 238px;
    }
}